* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI, Roboto, Helvetica Neve', sans-serif;
    background: #9acccc;
    text-decoration: none;
}

.box {
    position: relative;
    width: 100px;
    height: 50px;
    background: blue;
    color: white;
    text-align: center;

}

.topo{
    position: relative;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    left: 7.3%;
    width: 1265.9px;
    height: 50px;
    background: blue;
    box-shadow: 0 10px 25px -5px rgba( 0, 0, 0, 0.05), 0 8px 10px -6px rgba( 0, 0, 0, 0.02);

    /*z-index: 1000;
     transition: all 0.2s ease; */

}
.backgroundII {
    align-items: center;
    background: yellow;
    height: 1000px;
    width: 1000px;

}

.backgroundColor {
    background-color: white;
}


.body {
    display: flex;
    flex-direction: column;
    width: 1000px;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 238, 240);
}

.barra {
    visibility: hidden;
    position: absolute;
    height: 1000px;
    width: 100px;
    opacity: 1;

}

.buttonI {
    transform: translate( 1190%);
    
}

.boxLogin {
    position: relative;
    z-index: 1;
    justify-content: start;
    transform: translate( 16%, 0%);
    background: white;
    text-align: center;
    position: absulute;
    width: 290px;
    height: 290px;
    border: 2.7px solid;
    border-radius: 12%;
    border-color: rgb(188, 210, 214);

}