/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */

.body {
    font-family: Arial, sans-serif;
    min-width: 10vh;
    background-color: rgb(211, 238, 240,) ;
}


/* cabeçalho */

.container-headP {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container-headDB {
    background-color: blue;
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px 30px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.boxDB {
    width: 100px;
    height: 50px;
    background: blue;
    color: white;
}

.boxP {
    position: relative;
    width: 100px;
    height: 50px;
    background: blue;
    color: white;
    text-align: center;
}

.logoP h3{
    font-size: 24px;
}

.tituloP {
    font-size: 28px;
}

.tituloDB {
    font-size: 28px;
    position: absolute;
    left: 38%;
}

.btn-agendaP {
    background-color: white;
    color: blue;

    border: none;
    border-radius: 8px;

    padding: 10px 20px;

    cursor: pointer;
    transition: 0.3s;
}

.btn-agendaP:hover {
    background-color: #dbe9ff;
}

/* sidebear */

.sidebear {
    background: white;
    width: 250px;
    height: 540px;
    max-height: 550px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);

    display: flex;
    gap: 20px;
}

.sidebear nav a{
    display: block;
    padding: 10px 0;
    color: black;
    text-decoration: none;       
}

.status {
    position: fixed;
    bottom: 20px;
    width: 120px;
    max-width: 300px;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgb(236, 236, 236);
    cursor: pointer;

    display: flex;
    gap: 20px;
}

/* main */

.container-center{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 10px;
}

.feed_log {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 120px;
    max-width: 300px;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgb(236, 236, 236);
    cursor: pointer;
    display: flex;
    overflow: hidden;
}

.card {
    background: white;
    
    width: 1000px;
    max-width: 820px;
    padding: 10px;
    
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(236, 236, 236);

    display: flex;
    gap: 20px;
}


.welcome-text {
    margin-bottom: 20px;
    font-size: 28px;
}

.main-contentP {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}