/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */

.body {
    font-family: Arial, sans-serif;
    min-width: 10vh;
    background-color: rgb(211, 238, 240,) ;
}


/* cabeçalho */

.container-headP {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container-headDB {
    background-color: blue;
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px 30px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.boxDB {
    width: 100px;
    height: 50px;
    background: blue;
    color: white;

}

.boxP {
    position: relative;
    width: 100px;
    height: 50px;
    background: blue;
    color: white;
    text-align: center;
}

.logoP h3{
    font-size: 24px;
}

.tituloP {
    font-size: 28px;
}

.tituloDB {
    font-size: 28px;
    position: absolute;
    left: 38%;
}

.btn-agendaP {
    background-color: white;
    color: blue;

    border: none;
    border-radius: 8px;

    padding: 10px 20px;

    cursor: pointer;
    transition: 0.3s;
}

.btn-agendaP:hover {
    background-color: #dbe9ff;
}
/* main */

.welcome-text {
    margin-bottom: 20px;
    font-size: 28px;
}

.main-contentP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}