/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', Roboto, Helvetica, sans-serif;
}

/* Cabeçalho */

.icone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #E8590C
};

.container{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;

}

.menu-itens {
    color: #E8590C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 47px;
}

.container-head {
    text-align: center;
    background-color: #FFF4E6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1366px;
    height: 72px;
    padding: 15px 30px;
    box-shadow: 0 10px 25px -5px rgba( 0, 0, 0, 0.05), 0 8px 10px -6px rgba( 0, 0, 0, 0.02);
}

.posicaoC{
    position: relative;
    width: 250px;
    height: 50px;
    text-align: center;
}

.cabecalhobaseII {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 21px;
    gap: 1rem; 
    margin: 0;
    padding: 0;
}

.welcome-textII{
    font-size: 15px;
}

.iconecor {
    color: #E8590C
}

/* Body */

.body {
    min-width: 10vh;
    background-color: #FFF4E6;
}

.button-Agenda {
    color: #E8590C;
    background-color: #ffecd3;

    border: none;
    border-radius: 8px;
    
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* main */

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.welcome-text {
    margin-bottom: 20px;
    font-size: 35px;
    font-family: sans-serif ;
}